.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #fff;
  height: 300px;
  padding: 20px;
  color: #222;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.container{
  text-align: center;
}
.form{
  margin: 30px;
}

.form label{
  margin: 10px 20px;
}
.grid-table{
  width: 100%;
  border: 1px #eee solid;
  margin-bottom: 20px;
}
.grid-table thead{
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
